{% extends 'karaoke/blurb.html' %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

{% block styles %}
{% render_bundle 'index' 'css' %}
{% endblock %}

{% block scripts %}
{% render_bundle 'index' 'js' %}
{% endblock %}

{% block blurb %}
    <div id="textandbutton">
        <p>Sing your favourite songs and compete with your friends, or have a Party of One.</p>
        <div id="buttonwrapper">
            <button id="partybutton">Create a party!</button>
        </div>
    </div>
    <div id="ponytone">
        <img id="ponytone-image" alt="The ponytones.">
    </div>
    <div id="overlay" style="display: none;">
        <div class="modal">
            <h2>Party Time!</h2>
            <p>Your link is:</p>
            <p class="copylink"><a id="targetlink" href="/party/">ponytone.online/</a></p>
            <p>Share it with your friends, or play on your own!</p>
            <button id="beginbutton">Begin</button>
        </div>
    </div>
{% endblock %}
