{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karaoke! — {{ song }}</title>
</head>
<body>
<div id="game-container">
</div>
<table id="loading" style="width: 100%; height: 100%; background-color: white; position: absolute; top: 0; left: 0; display: none;">
    <tr><td style="text-align: center; vertical-align: top;"><img id="loading-image"></td></tr>
</table>
<script type="text/javascript">
    let SONG_ID = "{{ song | escapejs }}";
</script>
{% render_bundle 'main' %}
</body>
</html>
